<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

<ipython-input-1-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [38]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [39]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [40]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [41]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [42]:
# your code goes here
duplicate_count = df.duplicated().sum()
print(f"{duplicate_count}")
duplicate_res=df['Respondent'].duplicated().sum()
print(f"{duplicate_res}")

154
154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [43]:
# your code goes here
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [44]:
# your code goes here
duplicate_count = df.duplicated().sum()
print(f"{duplicate_count}")
print(df.shape[0])

0
11398

## Finding Missing values

Find the missing values for all columns.

In [45]:
# your code goes here
missing_values_country=df['Country'].isna().sum()
print(missing_values_country)
missing_values=df.isna().sum()
print(missing_values)

0
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [29]:
# your code goes here
missing_values_WorkLoc=df['WorkLoc'].isna().sum()
print(missing_values_WorkLoc)

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [30]:
# your code goes here
workloc_counts=df['WorkLoc'].value_counts()
print(workloc_counts)

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [50]:
#make a note of the majority value here, for future reference
workloc_counts_max= df['WorkLoc'].mode()[0]
print(workloc_counts_max)
emp_counts_max= df['Employment'].mode()[0]
print(emp_counts_max)
value_counts_emp = df['UndergradMajor'].value_counts()
least_category = value_counts_emp.idxmin()
print(least_category)

Office
Employed full-time
A health science (ex. nursing, pharmacy, radiology)

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [32]:
# your code goes here
df['WorkLoc'] = df['WorkLoc'].fillna(workloc_counts_max)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [37]:
# your code goes here
missing_values_WorkLoc=df['WorkLoc'].isna().sum()
print(missing_values_WorkLoc)
missing_values_ed=df['EdLevel'].isna().sum()
print(missing_values_ed)
missing_values_country=df['Country'].isna().sum()
print(missing_values_country)

0
112
0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [51]:
# your code goes here
print(df['CompFreq'].unique())
print(df['CompFreq'].value_counts())

['Yearly' 'Monthly' 'Weekly' nan]
CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [53]:
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None  

df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)
print(df['NormalizedAnnualCompensation'].median())
print(df.head(5))

100000.0
   Respondent                      MainBranch Hobbyist  \
0           4  I am a developer by profession       No
1           9  I am a developer by profession      Yes
2          13  I am a developer by profession      Yes
3          16  I am a developer by profession      Yes
4          17  I am a developer by profession      Yes

                                         OpenSourcer  \
0                                              Never
1                         Once a month or more often
2  Less than once a month but more than once per ...
3                                              Never
4  Less than once a month but more than once per ...

                                          OpenSource          Employment  \
0  The quality of OSS and closed source software ...  Employed full-time
1  The quality of OSS and closed source software ...  Employed full-time
2  OSS is, on average, of HIGHER quality than pro...  Employed full-time
3  The quality of OSS and closed source software ...  Employed full-time
4  The quality of OSS and closed source software ...  Employed full-time

          Country Student                                            EdLevel  \
0   United States      No           Bachelor’s degree (BA, BS, B.Eng., etc.)
1     New Zealand      No  Some college/university study without earning ...
2   United States      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
3  United Kingdom      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
4       Australia      No           Bachelor’s degree (BA, BS, B.Eng., etc.)

                                      UndergradMajor  ...  \
0  Computer science, computer engineering, or sof...  ...
1  Computer science, computer engineering, or sof...  ...
2  Computer science, computer engineering, or sof...  ...
3                                                NaN  ...
4  Computer science, computer engineering, or sof...  ...

                                        SONewContent   Age Gender Trans  \
0  Tech articles written by other developers;Indu...  22.0    Man    No
1                                                NaN  23.0    Man    No
2  Tech articles written by other developers;Cour...  28.0    Man    No
3  Tech articles written by other developers;Indu...  26.0    Man    No
4  Tech articles written by other developers;Indu...  29.0    Man    No

                 Sexuality                              Ethnicity Dependents  \
0  Straight / Heterosexual           White or of European descent         No
1                 Bisexual           White or of European descent         No
2  Straight / Heterosexual           White or of European descent        Yes
3  Straight / Heterosexual           White or of European descent         No
4  Straight / Heterosexual  Hispanic or Latino/Latina;Multiracial         No

            SurveyLength                  SurveyEase  \
0  Appropriate in length                        Easy
1  Appropriate in length  Neither easy nor difficult
2  Appropriate in length                        Easy
3  Appropriate in length  Neither easy nor difficult
4  Appropriate in length                        Easy

  NormalizedAnnualCompensation
0                      61000.0
1                     138000.0
2                      90000.0
3                     348000.0
4                      90000.0

[5 rows x 86 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 ## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>

## <h3 align="center"> © IBM Corporation. All rights reserved. <h3/>